@import "variables";

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
  cursor: pointer;

  .filterPill {
    background: $sheerWhite;
    color: white;
    border-radius: $defaultPad;
    padding: 0.5 * $defaultPad $defaultPad;
    flex: 0 0 auto;
    display: inline-flex;
    margin: 15px;
    &.active {
      background: $nearOpaqueWhite;
      color: pink;
    }
    &:hover {
      background: $nearOpaqueWhite;
      color: pink;
    }
  }
}
