@import "search";
@import "stories";
@import "variables";

body {
  width: 100%;
  height: 100%;
  font-size: $fontRegular;
  margin: 0;
}
.container {
  overflow: auto;
  position: relative;
  color: $textBlack;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
}
