@import "variables";

.searchWrapper {
  color: white;
  width: 100vw;
  position: fixed;
  background: pink;
  h2,
  h3 {
    margin: 0;
  }
  input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
    padding: $spacingUnit;
    &::placeholder {
      color: white;
      opacity: 0.8;
    }
  }
}

.searchBtn {
  float: right;
  background: $sheerWhite;
  padding: $spacingUnit;
}
