@import "variables";

.searchWrapper {
  color: white;
  width: 100vw;
  position: fixed;
  background: $lilac;
  box-shadow: $boxShadow;
  h2,
  h3 {
    margin: 0;
  }
  input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
    padding: $defaultPad 0 $defaultPad * 0.25;
    margin: 0 $defaultPad $defaultPad * 0.75;
    border-bottom: 1px white solid;
    width: calc(100% - 110px);
    opacity: 0.7;
    &::placeholder {
      color: white;
    }
    &:focus {
      opacity: 1;
    }
  }
}

.searchBtn {
  float: right;
  background: $sheerWhite;
  padding: $defaultPad;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
