@import "variables";

.searchWrapper {
  color: white;
  width: 100vw;
  position: fixed;
  background: $lilac;
  box-shadow: $boxShadow;
  h2,
  h3 {
    margin: 0;
  }
  input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: $fontLarge;
    padding: $spacingUnit;
    width: calc(100% - 70px);
    &::placeholder {
      color: white;
      opacity: 0.8;
    }
  }
}

.searchBtn {
  float: right;
  background: $sheerWhite;
  padding: $spacingUnit;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
